
/*screen 1280px */
@media(max-width: 1280px){
    .container{
        padding: 0 30px;
    }
    .header h1{
        font-size: 32px;
    }
    .slider__item{
        max-width: 270px;
    }
    .portfolio__title{
        margin: 15px 0;
        font-size: 24px;
    }
    .portfolio__text{
        font-size: 16px;
        line-height: 24px;
    }
}
/* @media(max-width: 860px){
    .container{
        padding: 0px;
    }
    .slider__item{
        margin-left: 0px;
    }
    .slider__item+.slider__item{
        margin: 15px 0px;
    }
    .portfolio__title{
        margin: 10px 0;
    }
    .portfolio__text{
        line-height: 20px;
    }

} */
/*screen 768px */
@media(max-width: 768px){
    .container{
        padding: 0px 20px;
    }
    .slider__item{
        max-width: 340px;
        margin-left: 0px;
    }
    .slider__item+.slider__item{
        margin: 0px 20px;
    }
    .portfolio__title{
        margin: 10px 0;
    }
    .portfolio__text{
        line-height: 20px;
    }
    .footer .row{
        display: block;
    }
    .sign__button{
        margin: 20px 0;
        width: 100%;
    }
}

/* 600 */
@media(max-width: 619px){
    .container{
        padding: 0px 20px;
    }
    .slider__item{
        max-width: 270px;
    }
}
@media(max-width: 490px){
    .container{
        padding: 0 10px;
    }
    .header .row{
        display: block;
    }
    .show__portfolio{
        display: inline-block;
    }
    .header h1{
        font-size: 24px;
    }
    .slider__item{
        max-width: 360px;
    }
    .sign__button{
        padding: 12px 40px;
        font-size: 14px;
    }
    
}